body { 
}

#header {
     background-color: yellow;
}

#todo-group {
     background-color: violet;
}

#todo-list {
     background-color: green;
}

#todo-details {
     background-color: blue;
}

#footer {
     background-color: red;
}

